<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>author display</title>
</head>
<body>
    
    <h1>{{this_author.first_name}} {{this_author.last_name}}</h1>

    <h2>ID: {{this_author.id}}</h2>

    <h3>Notes: {{this_author.notes}}</h3>

    <h4>Books from this Author</h4>
    <ul>
        {% for book in this_author.books.all %}
    <li>{{book.title}}</li>
    {% endfor %}
    </ul>

   

    <form action="/authoraddsbook" method="POST">
        {% csrf_token %}
        <h2>Add a Book</h2>
        <input type="hidden" name=author.id value={{this_author.id}}></input>
        <select name="book.id" id="book.id">
        {% for book in all_the_books %}
        <option value="{{book.id}}">{{book.title}}</option>
        {% endfor %} 
    </select>
        <button input type="submit">Add</button>   
    </form>   
    
    <a href="/authors">go to authors page</a>
    
</body>
</html>